In [1]:
#project :p7
#submitter : lqin33
#partner : mjiao5

In [2]:
import csv

fifa_file = open('Fifa20.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
fifa_file.close()
header = player_data[0] #header
pd = player_data = player_data[1:] #player_data
for row in player_data:
    for idx in [2, 4]:
        row[idx] = int(row[idx])

In [3]:
pd[0]

['158023',
 'L. Messi',
 32,
 'Argentina',
 94,
 'FC Barcelona',
 'RW',
 '€95.5M',
 '€565K',
 'Left',
 '10',
 "5'7",
 '159lbs']

In [4]:
def get_index_number(col_name):
    for i in range(len(header)):
        if header[i] == col_name:
            return i

In [5]:
player_dict = []
for row in player_data:
    dict_1 = {}
    for i in range(len(header)):
        dict_1[header[i]] = row[i]
    player_dict.append(dict_1)

    
player_dict_backup = []
for row in player_data:
    dict_1 = {}
    for i in range(len(header)):
        dict_1[header[i]] = row[i]
    player_dict_backup.append(dict_1)

In [6]:
for row in player_dict:
    for i in ['Wage','Value']:
        if row[i][-1] == 'K':
            row[i] = int(float(row[i][:-1].strip('€')) * 1000)
        elif row[i][-1] == 'M':
            row[i] = int(float(row[i][:-1].strip('€')) * 1000000)
        elif row[i][-1] == 'B':
            row[i] = int(float(row[i][:-1].strip('€')) * 1000000000)
        else:
            row[i] = int(float(row[i].strip('€')))

In [7]:
player_dict[1]

{'ID': '20801',
 'Name': 'Cristiano Ronaldo',
 'Age': 34,
 'Nationality': 'Portugal',
 'Overall': 93,
 'Club': 'Juventus',
 'Position': 'ST',
 'Value': 58500000,
 'Wage': 405000,
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "6'2",
 'Weight': '183lbs'}

In [8]:
def best_answer(target, header1, header2):
    best_row = None
    for row in range(len(player_dict)):
        if target == "lowest":
            if best_row == None or int(player_dict[row][header1]) < int(player_dict[best_row][header1]):
                best_row = row
        elif target == "highest":
            if best_row == None or int(player_dict[row][header1]) > int(player_dict[best_row][header1]):
                best_row = row
    return player_dict[best_row][header2]
best_answer("lowest", "Age", "Name")

'A. Hložek'

In [9]:
def find_name(if_Max, header1, name = "Name"):
    find_row = None
    for row in range(len(player_dict)):
        if if_Max == "Max":
            if find_row == None or player_dict[row][header1] > player_dict[find_row][header1]:
                find_row = row
        else:
            if find_row == None or player_dict[row][header1] < player_dict[find_row][header1]:
                find_row = row
    return player_dict[find_row][name]

In [10]:
#Q1: What is the name of the youngest player?
find_name("youngest", "Age")

'A. Hložek'

In [11]:
#Q2: What is the name of the highest-paid player?
find_name("Max","Wage")

'L. Messi'

In [12]:
#Q3: What is the name of the highest valued player?
find_name("Max","Value")

'Neymar Jr'

In [13]:
#Q4: What is the position of that player (in above q3)?
find_name("Max","Value","Position")

'LW'

In [14]:
def get_column(col_name):
    blank = []
    for i in player_dict:
        blank.append(i[col_name])
    return blank

In [15]:
#Q5: What are the first five clubs listed in the dataset?
get_column("Club")[:5]

['FC Barcelona',
 'Juventus',
 'Paris Saint-Germain',
 'Atlético Madrid',
 'Real Madrid']

In [16]:
def sort_name(header, numbers):
    return sorted(list(set(get_column(header))))[:numbers]

In [17]:
#Q6: Which six names are alphabetically first in the dataset?
sort_name("Name",6)

['A. Abdallah',
 'A. Abdellaoui',
 'A. Abdennour',
 'A. Abdi',
 'A. Abdu',
 'A. Abedzadeh']

In [18]:
def find_average(header):
    total_numbers = 0
    variable1 = get_column(header)
    for i in variable1:
        total_numbers += i
    return total_numbers / len(variable1)

In [19]:
#Q7: What is the average Wage?
find_average('Wage')

9456.942772732247

In [20]:
#Q8: What is the average Overall?
find_average('Overall')

66.24499398183609

In [21]:
def player_count(header):
    idx = 0
    for i in player_dict:
        if i['Position'] == header:
            idx += 1
    return idx

In [22]:
#Q9: How many players play in the position 'GK'?
player_count("GK")

2036

In [23]:
#Q10: How many players play in the position 'CAM'?
player_count("CAM")

1146

In [24]:
#Q11: Which is the most common position among the players in FIFA20?
def find_most(header):
    positions_kinds = list(set(get_column("Position")))
    most_position = None
    for position in positions_kinds:
        if most_position == None or player_count(position) > player_count(most_position):
            most_position = position
    return most_position
find_most('Position')

'CB'

In [25]:
def player_to_dict(player_id):
    for row in player_dict_backup:
        if row["ID"] == player_id:
            return row

In [26]:
#Q12: what are the stats for the player with ID equal to '183277'?
player_to_dict('183277')

{'ID': '183277',
 'Name': 'E. Hazard',
 'Age': 28,
 'Nationality': 'Belgium',
 'Overall': 91,
 'Club': 'Real Madrid',
 'Position': 'LW',
 'Value': '€90M',
 'Wage': '€470K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "5'9",
 'Weight': '163lbs'}

In [27]:
#Q13: What are the stats for the player with ID equal to '209331'?
player_to_dict('209331')

{'ID': '209331',
 'Name': 'M. Salah',
 'Age': 27,
 'Nationality': 'Egypt',
 'Overall': 90,
 'Club': 'Liverpool',
 'Position': 'RW',
 'Value': '€80.5M',
 'Wage': '€240K',
 'Preferred Foot': 'Left',
 'Jersey Number': '11',
 'Height': "5'9",
 'Weight': '157lbs'}

In [28]:
#Q14: What are the stats for the player with ID equal to '195864'?
player_to_dict('195864')

{'ID': '195864',
 'Name': 'P. Pogba',
 'Age': 26,
 'Nationality': 'France',
 'Overall': 88,
 'Club': 'Manchester United',
 'Position': 'CM',
 'Value': '€72.5M',
 'Wage': '€250K',
 'Preferred Foot': 'Right',
 'Jersey Number': '6',
 'Height': "6'3",
 'Weight': '185lbs'}

In [29]:
#Q15: What are the stats for the player with ID equal to '177003'?
player_to_dict('177003')

{'ID': '177003',
 'Name': 'L. Modrić',
 'Age': 33,
 'Nationality': 'Croatia',
 'Overall': 90,
 'Club': 'Real Madrid',
 'Position': 'CM',
 'Value': '€45M',
 'Wage': '€340K',
 'Preferred Foot': 'Right',
 'Jersey Number': '10',
 'Height': "5'8",
 'Weight': '146lbs'}

In [30]:
#Q16: How many players prefer their right foot and how many players prefer their left foot?

def find_prefered_foot():
    sum_right = 0 
    sum_left = 0
    for row in player_dict:
        if row["Preferred Foot"] == "Right":
            sum_right += 1
        elif row["Preferred Foot"] == "Left":
            sum_left += 1
    prefered_foot = {}
    keys = ['Right','Left']
    vals = [sum_right,sum_left]
    for i in range(len(keys)):
        prefered_foot[keys[i]] = vals[i]
    return prefered_foot

find_prefered_foot()

{'Right': 13960, 'Left': 4318}

In [31]:
#Q17: How many players are there per Nationality?
def find_nationality():
    keys = list(set(get_column("Nationality")))
    nationality = {}
    for i in range(len(keys)):
        sum_nationality = 0
        for row in player_dict:
            if row["Nationality"] == keys[i]:
                sum_nationality += 1
                nationality[keys[i]] = sum_nationality
    return nationality
find_nationality()

{'Guinea': 35,
 'Sweden': 358,
 'France': 984,
 'Georgia': 25,
 'China PR': 373,
 'Gambia': 22,
 'United States': 347,
 'Peru': 35,
 'Honduras': 13,
 'Guinea Bissau': 21,
 'Germany': 1216,
 'Israel': 16,
 'India': 23,
 'Angola': 16,
 'Cape Verde': 20,
 'Indonesia': 1,
 'Montenegro': 33,
 'Serbia': 139,
 'Senegal': 127,
 'Egypt': 30,
 'Equatorial Guinea': 6,
 'Netherlands': 416,
 'Macau': 1,
 'Puerto Rico': 1,
 'Belgium': 268,
 'Mali': 55,
 'Cameroon': 78,
 'England': 1667,
 'Gabon': 16,
 'Mauritius': 1,
 'Bahrain': 1,
 'Uganda': 3,
 'Hong Kong': 1,
 'Scotland': 277,
 'Curacao': 16,
 'Gibraltar': 1,
 'Czech Republic': 102,
 'Costa Rica': 30,
 'Togo': 13,
 'Ghana': 130,
 'Panama': 12,
 'Guyana': 4,
 'Dominican Republic': 4,
 'Romania': 287,
 'Korea Republic': 322,
 'Algeria': 50,
 'Rwanda': 2,
 'Turkey': 294,
 'Belize': 1,
 'Japan': 453,
 'Brazil': 824,
 'New Zealand': 35,
 'Faroe Islands': 5,
 'Kazakhstan': 2,
 'Latvia': 6,
 'Spain': 1035,
 'Tanzania': 4,
 'Cuba': 4,
 'Mozambique': 4,
 'Mauritania': 5,
 'Portugal': 344,
 'FYR Macedonia': 20,
 'Slovakia': 54,
 'Cyprus': 11,
 'South Sudan': 1,
 'Canada': 61,
 'Bermuda': 3,
 'Bulgaria': 41,
 'Iran': 15,
 'Iceland': 46,
 'Estonia': 6,
 'Guatemala': 2,
 'Northern Ireland': 81,
 'Azerbaijan': 6,
 'DR Congo': 54,
 'Morocco': 94,
 'Austria': 319,
 'Liechtenstein': 2,
 'Bosnia Herzegovina': 66,
 'Korea DPR': 4,
 'Wales': 117,
 'Jordan': 1,
 'Colombia': 591,
 'Republic of Ireland': 348,
 'Tunisia': 35,
 'Venezuela': 66,
 'Central African Rep.': 4,
 'Guam': 1,
 'Burundi': 4,
 'Russia': 81,
 'Norway': 350,
 'Luxembourg': 9,
 'Italy': 732,
 'Paraguay': 80,
 'Antigua & Barbuda': 7,
 'Palestine': 4,
 'Ivory Coast': 105,
 'Ecuador': 53,
 'Kosovo': 40,
 'São Tomé & Príncipe': 1,
 'Nigeria': 126,
 'United Arab Emirates': 22,
 'Suriname': 2,
 'South Africa': 72,
 'Ethiopia': 1,
 'Burkina Faso': 16,
 'Thailand': 4,
 'El Salvador': 4,
 'Eritrea': 1,
 'Mexico': 340,
 'Switzerland': 229,
 'Albania': 43,
 'Argentina': 886,
 'Liberia': 1,
 'Barbados': 1,
 'Malta': 2,
 'Croatia': 126,
 'Lebanon': 3,
 'Armenia': 8,
 'Malawi': 1,
 'Lithuania': 10,
 'Sudan': 3,
 'Kenya': 7,
 'Trinidad & Tobago': 6,
 'Chinese Taipei': 1,
 'Libya': 4,
 'Finland': 72,
 'Madagascar': 8,
 'Haiti': 7,
 'Zambia': 10,
 'Uruguay': 164,
 'St Lucia': 1,
 'Hungary': 35,
 'Montserrat': 3,
 'Chile': 370,
 'Grenada': 2,
 'Australia': 196,
 'Chad': 1,
 'Congo': 18,
 'Zimbabwe': 12,
 'Sierra Leone': 10,
 'Denmark': 345,
 'Uzbekistan': 3,
 'Syria': 4,
 'Saudi Arabia': 310,
 'Niger': 3,
 'Comoros': 9,
 'Greece': 96,
 'Ukraine': 69,
 'Benin': 15,
 'Poland': 324,
 'Jamaica': 29,
 'New Caledonia': 2,
 'Afghanistan': 2,
 'Philippines': 2,
 'Vietnam': 1,
 'Slovenia': 61,
 'Moldova': 12,
 'Iraq': 5,
 'St Kitts Nevis': 4,
 'Bolivia': 23,
 'Namibia': 2}

In [32]:
#Q18: What is the average player score (represented by the Overall column) per Nationality?
def find_avg_score(header,score):
    keys = list(set(get_column(header)))
    sum_overall = {}
    find_nation = find_nationality()
    for i in range(len(keys)):
        total_overall = 0
        for row in player_dict:
            if row[header] == keys[i]:
                total_overall += row[score]
                sum_overall[keys[i]] = total_overall
    score = {}
    for key in keys:
        score[key] = sum_overall[key] / find_nation[key]
    return score

find_avg_score('Nationality','Overall')

{'Guinea': 68.8,
 'Sweden': 63.79050279329609,
 'France': 67.41666666666667,
 'Georgia': 69.04,
 'China PR': 59.48525469168901,
 'Gambia': 65.31818181818181,
 'United States': 64.53025936599424,
 'Peru': 69.74285714285715,
 'Honduras': 68.38461538461539,
 'Guinea Bissau': 67.38095238095238,
 'Germany': 65.93914473684211,
 'Israel': 71.125,
 'India': 60.0,
 'Angola': 69.375,
 'Cape Verde': 70.5,
 'Indonesia': 56.0,
 'Montenegro': 66.36363636363636,
 'Serbia': 69.48920863309353,
 'Senegal': 68.64566929133858,
 'Egypt': 70.1,
 'Equatorial Guinea': 69.0,
 'Netherlands': 68.14903846153847,
 'Macau': 61.0,
 'Puerto Rico': 70.0,
 'Belgium': 68.43283582089552,
 'Mali': 67.50909090909092,
 'Cameroon': 68.33333333333333,
 'England': 63.251949610077986,
 'Gabon': 70.6875,
 'Mauritius': 66.0,
 'Bahrain': 72.0,
 'Uganda': 66.0,
 'Hong Kong': 67.0,
 'Scotland': 64.75090252707581,
 'Curacao': 66.0,
 'Gibraltar': 62.0,
 'Czech Republic': 70.31372549019608,
 'Costa Rica': 68.23333333333333,
 'Togo': 69.38461538461539,
 'Ghana': 66.97692307692307,
 'Panama': 66.0,
 'Guyana': 63.5,
 'Dominican Republic': 67.5,
 'Romania': 63.70383275261324,
 'Korea Republic': 63.683229813664596,
 'Algeria': 71.38,
 'Rwanda': 64.0,
 'Turkey': 66.06802721088435,
 'Belize': 66.0,
 'Japan': 63.69094922737307,
 'Brazil': 71.1614077669903,
 'New Zealand': 64.17142857142858,
 'Faroe Islands': 61.4,
 'Kazakhstan': 68.0,
 'Latvia': 61.666666666666664,
 'Spain': 69.9536231884058,
 'Tanzania': 63.25,
 'Cuba': 67.25,
 'Mozambique': 73.25,
 'Mauritania': 65.2,
 'Portugal': 70.51453488372093,
 'FYR Macedonia': 68.7,
 'Slovakia': 69.31481481481481,
 'Cyprus': 61.72727272727273,
 'South Sudan': 59.0,
 'Canada': 63.91803278688525,
 'Bermuda': 63.666666666666664,
 'Bulgaria': 63.46341463414634,
 'Iran': 69.0,
 'Iceland': 67.28260869565217,
 'Estonia': 66.33333333333333,
 'Guatemala': 65.5,
 'Northern Ireland': 63.79012345679013,
 'Azerbaijan': 62.833333333333336,
 'DR Congo': 68.4074074074074,
 'Morocco': 69.69148936170212,
 'Austria': 65.59561128526646,
 'Liechtenstein': 62.0,
 'Bosnia Herzegovina': 68.87878787878788,
 'Korea DPR': 65.75,
 'Wales': 64.6923076923077,
 'Jordan': 68.0,
 'Colombia': 65.67851099830796,
 'Republic of Ireland': 61.00574712643678,
 'Tunisia': 68.25714285714285,
 'Venezuela': 67.07575757575758,
 'Central African Rep.': 70.5,
 'Guam': 66.0,
 'Burundi': 63.75,
 'Russia': 69.33333333333333,
 'Norway': 63.02857142857143,
 'Luxembourg': 65.66666666666667,
 'Italy': 67.65710382513662,
 'Paraguay': 69.7875,
 'Antigua & Barbuda': 59.42857142857143,
 'Palestine': 62.0,
 'Ivory Coast': 69.0,
 'Ecuador': 70.49056603773585,
 'Kosovo': 66.625,
 'São Tomé & Príncipe': 70.0,
 'Nigeria': 67.15079365079364,
 'United Arab Emirates': 62.86363636363637,
 'Suriname': 66.0,
 'South Africa': 67.72222222222223,
 'Ethiopia': 64.0,
 'Burkina Faso': 66.4375,
 'Thailand': 64.0,
 'El Salvador': 67.25,
 'Eritrea': 71.0,
 'Mexico': 65.80882352941177,
 'Switzerland': 64.8471615720524,
 'Albania': 66.4186046511628,
 'Argentina': 69.11851015801355,
 'Liberia': 69.0,
 'Barbados': 64.0,
 'Malta': 60.0,
 'Croatia': 69.78571428571429,
 'Lebanon': 64.0,
 'Armenia': 69.375,
 'Malawi': 62.0,
 'Lithuania': 63.4,
 'Sudan': 62.666666666666664,
 'Kenya': 65.28571428571429,
 'Trinidad & Tobago': 65.83333333333333,
 'Chinese Taipei': 66.0,
 'Libya': 71.0,
 'Finland': 63.81944444444444,
 'Madagascar': 70.25,
 'Haiti': 63.285714285714285,
 'Zambia': 67.1,
 'Uruguay': 71.64634146341463,
 'St Lucia': 64.0,
 'Hungary': 69.68571428571428,
 'Montserrat': 66.0,
 'Chile': 64.80540540540541,
 'Grenada': 60.5,
 'Australia': 62.58163265306123,
 'Chad': 73.0,
 'Congo': 65.44444444444444,
 'Zimbabwe': 67.25,
 'Sierra Leone': 63.0,
 'Denmark': 63.68115942028985,
 'Uzbekistan': 67.66666666666667,
 'Syria': 70.25,
 'Saudi Arabia': 60.92903225806452,
 'Niger': 57.0,
 'Comoros': 65.22222222222223,
 'Greece': 69.39583333333333,
 'Ukraine': 69.8695652173913,
 'Benin': 67.66666666666667,
 'Poland': 63.49074074074074,
 'Jamaica': 66.6896551724138,
 'New Caledonia': 67.5,
 'Afghanistan': 62.0,
 'Philippines': 69.0,
 'Vietnam': 62.0,
 'Slovenia': 68.70491803278688,
 'Moldova': 65.0,
 'Iraq': 67.6,
 'St Kitts Nevis': 62.75,
 'Bolivia': 66.04347826086956,
 'Namibia': 67.0}

In [33]:
#Q19: Which Nationality has the highest average Overall?
def find_most(header1,header2):
    keys = list(set(get_column("Nationality")))
    variable1 = find_avg_score('Nationality','Overall')
    find_avg_score(header1,header2) 
    best_key = None
    for key in keys:
        if best_key == None or variable1[key] > variable1[best_key]:
            best_key = key
    return best_key

find_most('Nationality','Overall')

'Mozambique'

In [34]:
#Q20: Which Club has the highest average Value?:

def find_avg_value(header, value = "Value"):
    keys = list(set(get_column("Club")))
    sum_value = dict()
    for i in range(len(keys)):
        total_value = 0
        for row in player_dict:
            if row["Club"] == keys[i]:
                total_value += row["Value"]
                sum_value[keys[i]] = total_value
    club = {}
    for i in range(len(keys)):
        member = 0
        for row in player_dict:
            if row["Club"] == keys[i]:
                member += 1
                club[keys[i]] = member
    best_key = None
    for key in keys:
        if best_key == None or (sum_value[key] / club[key]) > (sum_value[best_key] / club[best_key]):
            best_key = key
    return best_key

find_avg_value("club")

'FC Bayern München'